* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #212121;
}


button[data]:hover:after {
    content: attr(data);
    color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 100;
    border-radius: 5px ;
    background: #000;
    padding: 10px;
}

.container {
    padding: 10px;
}

.aside {
    background-color: #171717;
    float: left;
    width: 20%;
    height: 100vh;
    overflow-y: auto;
}

.header_aside {
    display: flex;
    justify-content: space-between;
}

.new_chat, 
.close_sidebar {
    background: none;
    border: none;
    width: 25%;
    cursor: pointer;
}

.open_sidebar {
    background: none;
    border: none;
    cursor: pointer;
}

.new_chat img {
    width: 50%;
}

.close_sidebar img {
    width: 50%;
}

.open_sidebar img {
    width: 120%;
}

.new_chat:hover,
.close_sidebar:hover,
.open_sidebar:hover {
    transform: scale(1.1);
}

.account {
    float: right;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: gray;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.out_sms {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 80vh;
    border: 1px solid #fff;
    overflow-y: scroll;
    width: 100%;
}

.out {
    position: relative;
    max-width: 50%;
    border: none;
    background:#2F2F2F;
    border-radius: 16px;
    padding:16px;
    margin: 4px;
    color: #fff;
    word-break: break-all;
}

.form_text {
    display: inline-block;
    vertical-align: top;
    width: 70vw;
}
  
.form_text input {
    border: none;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    height: 30px;
    vertical-align: top;
    background-color: #fff;
    padding: 0 8px 0 0;
}
  
.form_text button {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
    color: #4f432e;
    background-color: #e4d9c5;
    cursor: pointer;
    transition: color .2s;
    position: absolute;
    display: inline-block;
}


.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.modalActive {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}

.modalClose {
    background: none;
    border: none;
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}

.modalWindow {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modalWindow label {
    margin: 10px 0;
}

.modalWindow input {
    background: #EBEBEB;
    border: none;
    padding: 6px;
}

.selected {
    padding: 10px;
    background: #EBEBEB;
    cursor: pointer;
    border: none;
}

#Link {
    color: #808080	;
}

#version  {
    display: none;
    width: 100%;
    z-index: 10;
    margin-top: 10px;
}

#version li {
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
}

.select-show {
    background-color: #EBEBEB;
    display: block;
    animation: showBlock .8s linear forwards;
}

@keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.create {
    border-radius: 6px;
    margin-top: 20px;
    padding: 6px;
    background: #E0E0E0;
    border: none;
    cursor: pointer;
}

.create:hover {
    transition: .6s;
    transform: scale(1.06);
}

.modalAccomplished {
    position: relative;
}

.info_assistante{
    float: left;
    width: 100%;
    margin: 5px;
    color: #fff;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
    padding: 10px;
}

.info_assistante:hover {
    background-color: #202020;
}

.text_item {
    overflow: hidden;
	width: 88%;
    position: relative;
}

.text_item:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 6%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #171717 100%);
	pointer-events: none;
}

.openEditAssistante {
    border: none;
    background: none;
    cursor: pointer;
}

.modalContent {
    background: #080808;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.modalContent button {
    border: none;
    border-radius: 4px;
    color: #fff;
    background: #141414;
    padding: 6px;
    cursor: pointer;
}

.editAssistant {
    margin: 10px 0;
}
